
/* temp Styles */
.temp-background{
  background-color: #000000;
}
body {
  font-family: Myriad Pro;
  padding-top: 54px;
  color: #000000;
}

@media (min-width: 1200px) {

.container {
    width: 970px!important;
}
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
 
  color: #ffffff;
}

h1 {
  font-size: 30px;

}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
 
  font-weight: 500;
  font-family: 'Saira Extra Condensed', 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.5rem;
}
.section-padding{
  padding-top: 30px;
}

.container-padding {
  padding-left: 50px;
}

.pr-40 {
  padding-right: 40px;
}
.drop-shadow{
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}
/* End Main Styles */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.temp-navbar {
  
  background-color: #333;
  position: fixed;
  top: 0;
  border-radius: 0 0 5px 5px;
}

.temp-navbar a {
  float: left;
  display: absolute;
  color: #f2f2f2;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.temp-navbar:hover {
  background: #ddd;
  color: black;
}
.temp-image{
  width:100px;
  height:100px;
}
