/* Main Styles */
body {
  font-family: 'Muli', 'Helvetica Neue', Arial, sans-serif;
  padding-top: 54px;
  color: #868e96;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.5rem;
}
/* End Main Styles */

/* Icons */
.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  background-color: #0b4e96;
}

.dev-icons {
  font-size: 3rem;
}

.dev-icons .list-inline-item i:hover {
  color: #0b4e96;
}
/* End Icons */

/* NavBar */
#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

#sideNav .navbar-toggler:focus {
  outline-color: #d48a6e;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }

  #sideNav .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }

  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }

  #sideNav .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }

  #sideNav .navbar-collapse .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }

  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }

  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}
/* End NavBar */

/*Profile Section */
section.profile-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
}

section.profile-section {
  min-width: none;
}

@media (min-width: 768px) {
  section.profile-section {
    min-height: 100vh;
  }

  section.profile-section {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.profile-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #0b4e96 !important;
}

.text-primary {
  color: #0b4e96 !important;
}

a {
  color: #0b4e96;
}

a:hover, a:focus, a:active {
  color: #824027;
}

/* Hover image styles */
.container {
  position: relative;
  width: 50%;
  margin-right: 0px;
  margin-left: 0px;
}

.image {
  display: block;
  width: 50%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(15, 78, 150, 0.64);
  overflow: hidden;
  width: 50%;
  height: 0;
  transition: 1s ease;
}

.container:hover .overlay {
  height: 100%;
}

/* End Hover Image Styles */

/* Project Button */
.button-center {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* End Project Button */

/* Skills And Experience List Styles*/
.skills-list-padding{
  padding-left: 0px;
}
.skills-padding{
  padding-top: 30px;
}
.font-size-larger{
  font-size: 40px;
}
.list-centred{
  height: 50px;
  line-height: 40px;
  display: flex;
}
.list-clear{
  color: #FFFFFF;
}
.skills-padding-list{
  padding-left: 30px;
}
.list-group-item.active{
  background-color: #0b4e96;
  border-color: #0b4e96;
}
/* End Skills And Experience List Styles*/
.container-padding {
  padding-left: 50px;

}

.pr-40 {
  padding-right: 40px;
}
